{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'assets/css/Pattaya.css'%}">
    <title>Server Not Found</title>
</head>

<body style="background-color: #21242B;font-family: 'Pattaya', sans-serif;">
    <div style="height: 100vh;display: flex;justify-content: center;align-items: center;">
        <div class="container" style="text-align: center;">
            <p style="color: #9B9FAA;font-size: 25px;"><span style="color: aqua;">!</span>&nbsp;Server is out of
                reach</p>
            <img src="{%static 'assets/img/down.svg'%}" alt="" style="height: 40%;width: 40%;">
        </div>
    </div>
</body>

</html>